# Operating system files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Node.js
node_modules/

# Build artifacts
dist/
build/

# Logs
*.log
